{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="form-auth">
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
      <div>
        <h2>Sign in</h2>
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <button type="submit">Sign in</button>
      </div>
    </div>
    <span> Dont' have an account? <a href="/sign-up">Create one</a></span>
  </form>
</div>
{% endblock %}
