@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* navbar */

body {
  color: #9a7d31;
  background-color: #222222;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 20px;
}

#signin,
#logout {
  background-color: #9a7d31;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

.nav-item {
  padding-left: 60px;
}

.nav-item a {
  text-decoration: none;
  color: #9a7d31;
}

.nav-item a:visited {
  color: #9a7d31;
}

.nav-item a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

/*  forms  */
.form input {
  display: flex;
  border-radius: 4px;
  border: solid 1.5px black;
  padding: 8px;
}

form {
  position: relative;
  margin: auto;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.form button {
  margin-top: 1em;
}

.form button {
  color: white;
  background: #9a7d31;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.form a {
  text-decoration: none;
  color: #c29013;
}

.form a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.form span,
.form span a {
  margin-top: 10px;
  font-size: 16px;
}

/* messages */

.error {
  color: red;
}

.success {
  color: green;
}

/* watches layout */

.watches {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.watch-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 33%;

  text-align: center;
}

.watch-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
  margin: auto;
  position: relative;
}

.watch-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.watch-image:hover img {
  transform: scale(1.2);
}

.watch-info {
  margin-top: 35px;
}

/* watch details */

.details {
  text-align: center;
}

.details img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: 0 auto;
}
/* pagination */

.pagination {
  text-align: center;
  margin-bottom: 100px;
}

.pagination span {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  background-color: black;
  color: white;
  border: 1px solid #000;
  text-align: center;
  display: inline-block;
}

.pagination a {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: black;
  border: 1px solid #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* reviews */
