@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*@import url("https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300;5..1200,400&display=swap");*/

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  /*font-family: "Playfair", serif;*/
  font-size: 16px;
}

/* navbar */

body {
  color: #9a7d31;
  background-color: #222222;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar {
  border-bottom: 1px solid #9a7d31;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 20px;
}

#signin,
#signout {
  background-color: #9a7d31;
  color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-decoration: none;
}

#signin:hover,
#signout:hover {
  background-color: #6e561a;
}

.nav-item {
  padding-left: 60px;
}

.nav-item a {
  text-decoration: none;
  color: #9a7d31;
}

.nav-item a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

/*  FORMS  */
.form-auth input {
  display: flex;
  border-radius: 4px;
  border: solid 1.5px #161515;
  padding: 8px;
  background-color: #161515;
  color: white;
  outline: none;
  width: calc(100% - 18px);
}

.form-auth {
  margin: auto;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.form-auth button {
  color: #f5f5f5;
  background: #9a7d31;
  border-radius: 4px;
  padding: 8px;
  width: calc(100% - 18px);
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

.form-auth a {
  text-decoration: none;
  color: #c29013;
}

.form-auth a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

/* messages */

.error {
  color: red;
}

.success {
  color: green;
}

/* watches layout */

.watches {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.watch-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 33%;

  text-align: center;
}

.watch-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
}

.watch-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.watch-image:hover img {
  transform: scale(1.2);
}

.watch-info {
  margin-top: 35px;
}

/* watch details */

.details-container {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-image img {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.details-info {
  margin-left: 20px;
  max-width: 600px;
  text-align: justify;
}

#watch-name {
  font-size: 25px;
}

#watch-price {
  font-size: 20px;
}

.details-info button {
  width: 100%;
  background-color: #9a7d31;
  color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
}

.reviews-container button {
  margin-top: 1em;
  background-color: #9a7d31;
  color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
}

.reviews-container textarea {
  width: 100%;
  resize: none;
  height: auto;
  background-color: #161515;
  color: rgb(145, 143, 143);
  border-style: none;
  border-radius: 4px;
  outline: none;
}

.reviews-container textarea {
  border: 1px solid #6e561a;
}

.description {
  margin-top: 2em;
}

.reviews-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  width: 50%;
  margin: 200px auto;
  text-align: justify;
}

.review-text {
  margin-top: 2em;
  padding-bottom: 2em;
}

hr {
  width: 100%;
  border: 1px solid #161515;
}

#ratings {
  color: rgb(145, 143, 143);
  background-color: #161515;
}

.no-reviews {
  text-align: center;
}

.details-description {
  max-width: 100%;
  word-wrap: break-word;
}

/* pagination */

.pagination {
  text-align: center;
  margin-bottom: 100px;
  /*margin-bottom: 100px;*/
}

.pagination span {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  background-color: #9a7d31;
  color: #f5f5f5;
  text-align: center;
  display: inline-block;
}

.pagination a {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #9a7d31;
  border: 1px solid #9a7d31;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* footer */

.footer-brand-logos * {
  padding: 0;
  margin: 0;
}

.footer-brand-logos img {
  max-height: 56px;
  width: auto;
  margin: 0 2%;
  /*margin: 0 50px;*/
  filter: brightness(0) invert(1);
  opacity: 75%;
}

.footer-brand-logos {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #161515;
  padding: 15px 0;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  margin-bottom: 5rem;
  padding-bottom: 2.5rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.copyright-text {
  color: white;
  opacity: 75%;
  font-size: 12px;
}

/* SHOPPING CART */

#checkout {
  background-color: #9a7d31;
  color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
}

#checkout:hover {
  background-color: #6e561a;
}

#increase,
#decrease {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #9a7d31;
  font-size: 20px;
}

#quantity {
  display: inline-block;
  width: 40px;
  border: 1px solid #6e561a;
  text-align: center;
}

.cart-page {
  margin: 80px auto;
  max-width: 1200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
}

td {
  padding: 10px 5px;
}

td img {
  height: 200px;
  margin-right: 10px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.empty-cart img {
  max-width: 20%;
  filter: grayscale(100%) invert(100%) brightness(200%);
}

.empty-cart button {
  background-color: #9a7d31;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.empty-cart button:hover {
  background-color: #6e561a;
}

.empty-cart h2 {
  font-size: 32px;
}

#removeButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#removeButton:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

/* CHECKOUT */

.checkout-page {
  text-align: center;
}

.checkout-page input {
  margin: 0.5em;
  padding: 8px;
  border-radius: 4px;
  border: solid 1.5px #161515;
  background-color: #161515;
  color: white;
  outline: none;
}

.checkout-names,
.checkout-address,
.checkout-contact {
  display: flex;
  justify-content: center;
}

.payment-method {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.payment-method div {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.payment-method label,
.payment-method input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.payment-method input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.payment-method input[type="radio"]:checked + label {
  background: #161515;
  border: 1px solid #9a7d31;
}

.payment-method label {
  padding: 5px;

  cursor: pointer;
  z-index: 90;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.payment-method label:hover {
  background: #ddd;
}

.payment-method img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.place-order {
  margin-top: 1em;
}

.place-order button {
  background-color: #9a7d31;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.place-order button:hover {
  background-color: #6e561a;
}

/* PROFILE */

.profile-page {
  display: flex;
  flex-direction: row;
}

.profile-data {
  background-color: #161515;
  text-align: center;
  width: 20%;
  height: 100vh;
  color: white;
  border-right: 1px solid #9a7d31;
  border-radius: 4px;
}

.profile-orders {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.profile-orders a {
  text-decoration: none;
  color: #9a7d31;
}

.profile-orders a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.profile-orders ul {
  list-style: none;
}

.profile-page button {
  background-color: #9a7d31;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.profile-page button:hover {
  background-color: #6e561a;
}

table {
  border: 1px solid #6e561a;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #161515;
  border: 1px solid #6e561a;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #6e561a;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #6e561a;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* RESULT PAGES */

.access-denied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.access-denied span {
  font-size: 250px;
}

.access-denied h2 {
  font-size: 20px;
}

.thanks-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.thanks-page h2 {
  font-size: 36px;
}

.thanks-page button {
  background-color: #9a7d31;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.thanks-page button:hover {
  background-color: #6e561a;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding: 0;
  }

  .nav-item {
    padding: 10px 0;
  }

  .footer-brand-logos img {
    height: 30px;
    margin: 0;
    padding-right: 5px;
  }

  body {
    background-color: red;
  }
}*/

/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .footer-brand-logos img {
    height: 30px;
    margin: 0;
    padding-right: 5px;
  }
}

/*
@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding: 0;
  }

  .nav-item {
    padding: 10px 0;
  }

  #signin,
  #signout {
    margin-top: 10px;
    display: block;
  }

  .footer-brand-logos img {
    height: 30px;
    margin: 0;
    padding-right: 5px;
  }

  .details-container {
    flex-direction: column;
  }
  .details-image img {
    max-width: 100%;
    height: auto;
  }
  .details-info {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }

  .details-info button {
    width: 50%;
  }
  .reviews-container {
    width: 100%;
    margin: 20px auto;
  }
}

@media screen and (min-height: 1100px) {
  .footer-brand-logos img {
    height: 40px;
    margin: 0 40px;
  }

  .main-content {
    flex-grow: 1;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .cart-info p {
    display: none;
  }
}*/

/*
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/

/* SEARCH */
.search-results {
  position: absolute;
  background-color: #161515;
  z-index: 999;
  border-radius: 4px;
  padding: 1em;
  display: none; /* Initially hide the search results */
}

#searchForm input {
  margin: 0.5em;
  border-radius: 4px;
  border: solid 1.5px #161515;
  background-color: #161515;
  color: white;
  outline: none;
}
