{% extends "base.html" %} {% block content %}

<div class="details-container">
  <div class="details-image">
    <img
      src="{{url_for('static', filename='static/images/watches/' ~ details.brand ~ '_' ~ details.model ~ '.png')}}"
    />
  </div>

  <div class="details-info">
    <h2>{{ details.brand }} {{ details.model }} {{ details.price }} €</h2>
    {% if details.description %}
    <p class="details-description">{{ details.description }}</p>
    {% else %}
    <p>There is no description of this watch.</p>
    {% endif %} {% if session.user_id %}
    <form action="{{url_for('carts.add_cart')}}" method="POST">
      <input type="hidden" name="watch_id" value="{{ details.id }}" />
      <button>add to cart</button>
    </form>
    {% endif %}
  </div>
</div>

<div class="reviews-container">
  {% if reviews %}
  <h2>Reviews</h2>
  {% for review in reviews %}
  <hr />
  <div>
    <div>
      <span>Username</span>
      {% if review.rating == 1 %}
      <span>&#11088;</span>
      {% elif review.rating == 2 %}
      <span>&#11088;&#11088;</span>
      {% elif review.rating == 3 %}
      <span>&#11088;&#11088;&#11088;</span>
      {% elif review.rating == 4 %}
      <span>&#11088;&#11088;&#11088;&#11088;</span>
      {% elif review.rating == 5 %}
      <span>&#11088;&#11088;&#11088;&#11088;&#11088;</span>
    </div>
    {% endif %}
    <div class="review-text">{{ review.review }}</div>
  </div>
  {% endfor %} {% else %}
  <p class="no-reviews">This watch doesn't have any reviews.</p>
  {% endif %} {% if session.user_id %}
  <div>
    <form method="POST">
      <div>
        <div>
          <label for="ratings">Give rating</label>
          <select name="ratings" id="ratings">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="description">
          <label for="description">Review</label>
          <textarea
            placeholder="Write a review..."
            rows="5"
            name="description"
            id="description"
          ></textarea>
        </div>
        <div><button type="submit">submit</button></div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

{% endblock %}
