{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<div class="watches">
  {% for watch in watches %}
  <div class="watch-card">
    <div class="watch-image">
      <a href="{{ url_for('watches.watch_detail', id=watch.id) }}">
        <img
          src="{{url_for('static', filename='static/images/watches/' ~ watch.
          brand ~ '_' ~ watch.model ~ '.png')}}"
        />
      </a>
    </div>
    <div class="watch-info">
      <p style="text-transform: uppercase">
        {{ watch.brand }} {{ watch.model }}
      </p>
      <p>{{ watch.price }} €</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% for i in range(1, total_pages + 1) %} {% if i == page %}
  <span>{{ i }}</span>
  {% else %}
  <a href="{{ url_for('watches.all_watches', page=i) }}">{{ i }}</a>
  {% endif %} {% endfor %}
</div>
{% endblock %}
