{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content
%} {% if items|length != 0 %}
<div class="small-container cart-page">
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>
        <div class="cart-info">
          <a href="{{ url_for('watches.watch_detail', id=item[0]) }}">
            <img
              src="{{url_for('static', filename='static/images/watches/' ~ item[2] ~ '_' ~ item[3] ~ '.png')}}"
            />
          </a>
          <div>
            <p>{{item.brand}} {{item.model}}</p>
            <small>Price: {{ item.price }} €</small>
            <br />
            <form
              action="{{ url_for('carts.delete_item', watch_id=item.watch_id)}}"
              method="POST"
            >
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <button>Remove</button>
            </form>
          </div>
        </div>
      </td>
      <td>
        <div style="display: flex; align-items: center">
          <form action="{{url_for('carts.decrease_quantity')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="watch_id" value="{{ item.watch_id }}" />
            <input type="hidden" name="quantity" value="{{ item.quantity }}" />
            <button>-</button>
          </form>
          <span>{{item.quantity}}</span>
          <form action="{{url_for('carts.increase_quantity')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="watch_id" value="{{ item.watch_id }}" />
            <input type="hidden" name="quantity" value="{{ item.quantity }}" />
            <button>+</button>
          </form>
        </div>
      </td>
      <td>{{item.price * item.quantity}} €</td>
    </tr>
    {% endfor %}
  </table>
  <p>Total: {{summa}}€</p>
  <a id="checkout" href="/checkout">Proceed to checkout</a>
</div>
{% else %}

<div class="empty-cart">
  <h2>Your cart is empty!</h2>
  <img src="{{url_for('static', filename='static/images/misc/cart.png')}}" />
  <a href="{{ url_for('watches.all_watches')}}">
    <button>Continue shopping</button>
  </a>
</div>
{% endif %} {% endblock %}
