{% extends 'admin/master.html' %} {% block body %}
<style>
  .table td,
  .table th {
    white-space: nowrap;
  }
</style>
<div class="container mt-4">
  <h2 class="text-center">Orders</h2>
  <table class="table table-striped text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">watch ID</th>
        <th scope="col" class="text-center">First name</th>
        <th scope="col" class="text-center">Last name</th>
        <th scope="col" class="text-center">Shipping address</th>
        <th scope="col" class="text-center">Billing address</th>
        <th scope="col" class="text-center">Phone number</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Quantity</th>
        <th scope="col" class="text-center">Payment method</th>
        <th scope="col" class="text-center">Order date</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <th scope="row">{{ loop.index0 + 1 }}</th>
        <td class="text-center">{{ order['watch_id'] }}</td>
        <td class="text-center">{{ order['first_name'] }}</td>
        <td class="text-center">{{ order['last_name'] }}</td>
        <td class="text-center">{{ order['shipping_address'] }}</td>
        <td class="text-center">{{ order['billing_address'] }}</td>
        <td class="text-center">{{ order['phone_number'] }}</td>
        <td class="text-center">{{ order['email'] }}</td>
        <td class="text-center">{{ order['quantity'] }}</td>
        <td class="text-center">{{ order['payment_method'] }}</td>
        <td class="text-center">{{ order['order_date'] }}</td>
        <td class="text-center">
          <button class="btn btn-danger btn-secondary btn-sm">
            Delete order
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
