{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content
%} {% if items|length != 0 %}
<table class="table">
  <thead>
    <tr>
      <th>Items</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>
        <a href="{{ url_for('view.watch_detail', id=item[0])}}"
          >{{item[2]}} {{item[3]}}</a
        >
        <br />
        {{ item[4] }} €
      </td>
      <td>{{item[1]}}</td>
      <td>{{item[4] * item[1]}} €</td>
      <td>
        <form action="{{url_for('carts.delete_item')}}" method="POST">
          <input type="hidden" name="watch_id" value="{{ item[0] }}" />
          <input type="hidden" name="quantity" value="{{ item[1] }}" />
          <button>
            <img
              src="{{url_for('static', filename='static/images/trash.svg')}}"
            />
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>Total: {{summa}} €</p>
<hr />
<button>Proceed to checkout</button>
{% else %}
<h2>Shopping cart is empty.</h2>
> {% endif %} {% endblock %}
