{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content
%} {% if items|length != 0 %}
<div class="small-container cart-page">
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>
        <div class="cart-info">
          <a href="{{ url_for('view.watch_detail', id=item[0]) }}">
            <img
              src="{{url_for('static', filename='static/images/watches/' ~ item[2] ~ '_' ~ item[3] ~ '.png')}}"
            />
          </a>
          <div>
            <p>{{item[2]}} {{item[3]}}</p>
            <small>Price: {{ item[4] }} €</small>
            <br />
            <a>Remove</a>
          </div>
        </div>
      </td>
      <td>{{item[1]}}</td>
      <td>{{item[4] * item[1]}} €</td>
    </tr>
    {% endfor %}
  </table>
  <p>Total: <b>{{summa}}</b> €</p>
  <a id="checkout" href="/checkout">Proceed to checkout</a>
</div>
{% else %}

<div class="empty-cart">
  <h2>Your cart is empty!</h2>
  <img src="{{url_for('static', filename='static/images/cart.png')}}" />
  <a href="{{ url_for('view.watches')}}">
    <button>Continue shopping</button>
  </a>
</div>
{% endif %} {% endblock %}
