{% extends "base.html" %} {% block title %} Profile {% endblock %} {% block
content %}
<div class="profile-page">
  <form
    id="deleteProfile"
    action="{{url_for('profile.delete_profile')}}"
    method="POST"
  >
    <button type="button" onclick="deleteConfirm(this.form)">
      Delete account
    </button>
  </form>
</div>
<script>
  const deleteConfirm = () => {
    if (confirm("Are you sure you want to delete your account?") === true) {
      document.getElementById("deleteProfile").submit();
    }
  };
</script>
{% endblock %}
