<table class="reviews">
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Date</th>
  </tr>
  {% for review in reviews %}
  <tr>
    <td>Username</td>
    <td>{{review.review}}</td>
    {% if review.rating == 1 %}
    <td>&#11088;</td>
    {% elif review.rating == 2 %}
    <td>&#11088;&#11088;</td>
    {% elif review.rating == 3 %}
    <td>&#11088;&#11088;&#11088;</td>
    {% elif review.rating == 4 %}
    <td>&#11088;&#11088;&#11088;&#11088;</td>
    {% elif review.rating == 5 %}
    <td>&#11088;&#11088;&#11088;&#11088;&#11088;</td>
    {% endif %}
    <td>{{review.review_date}}</td>
  </tr>
  {% endfor %}
</table>
