{% extends "base.html" %} {% block content %}

<div class="details">
  <h2>{{ details.brand }} {{ details.model }} {{ details.price }}</h2>
  <img
    src="{{url_for('static', filename='static/images/watches/' ~ details.
  brand ~ '_' ~ details.model ~ '.png')}}"
  />
  {% if session.user_id %}
  <div>
    <form action="{{url_for('carts.add_cart')}}" method="POST">
      <input type="hidden" name="watch_id" value="{{ details.watch_id }}" />
      <button>add to cart</button>
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" value="1" min="1" />
    </form>
  </div>
  {% endif %} {% if details.description %}
  <p>{{ details.description }}</p>
  {% else %}
  <p>There is no description of this watch.</p>
  {% endif %} {% if reviews %}
  <h2>Reviews</h2>
  {% for review in reviews %}
  <div>
    <span>Username</span>
    {% if review.rating == 1 %}
    <span>&#11088;</span>
    {{ review.review }} {% elif review.rating == 2 %}
    <span>&#11088;&#11088;</span>
    {% elif review.rating == 3 %}
    <span>&#11088;&#11088;&#11088;</span>
    {% elif review.rating == 4 %}
    <span>&#11088;&#11088;&#11088;&#11088;</span>
    {% elif review.rating == 5 %}
    <span>&#11088;&#11088;&#11088;&#11088;&#11088;</span>
    {% endif %} {% endfor %}
  </div>
  {% else %}
  <p>This watch doesn't have any reviews.</p>
  {% endif %} {% if session.user_id %}
  <div>
    <form method="POST">
      <div>
        <div>
          <label for="ratings">Rating</label>
          <select name="ratings" id="ratings">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div>
          <label for="description">Description</label>
          <textarea name="description" id="description"></textarea>
        </div>

        <div><button type="submit">submit</button></div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

{% endblock %}
