{% extends "base.html" %} {% block content %}

<div class="details">
  <h2>{{ details.brand }} {{ details.model }} {{ details.price }}</h2>
  <img src="{{url_for('static', filename='static/images/datejust.png')}}" />
  {% if details.description %}
  <p>{{ details.description }}</p>
  {% else %}
  <p>There is no description of this watch.</p>
  {% endif %} {% if reviews %} {% for review in reviews %}
  <table>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{review.review}}</td>
      <td>{{review.rating}}</td>
      <td>{{review.review_date}}</td>
    </tr>
  </table>
  {% endfor %} {% else %}
  <p>This watch doesn't have any reviews.</p>
  {% endif %} {% if session.user_id %}
  <div>
    <form method="POST">
      <div>
        <div>
          <label for="ratings">Rating</label>
          <select name="ratings" id="ratings">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div>
          <label for="description">Description</label>
          <textarea name="description" id="description"></textarea>
        </div>

        <div><button type="submit">submit</button></div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

{% endblock %}
